@font-face {
    font-family: 'Helvetica';
    src: url('./HelveticaNeue/HelveticaNeue.otf') format('opentype'),
    url('./HelveticaNeue/helvetica-neue-bold.ttf') format('opentype');
;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
    text-decoration: none;
}

.main{
    background: #7AA2E3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: #6AD4DD;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 3cqmax #0000006c;

}

#head{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bio{
        margin-top: 4px;
        font-weight: lighter;
    }

    .bgCard{
        height: 120px;
        width: 300px;
        background: #000;
        box-shadow: 0 0 10px #00000067;
    }
    
    .avtCard{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: -50px;
        overflow: hidden;
        background: #000;
        border: 3px solid #fff;
        box-shadow: 0 0 10px #00000067;
    }
    
    
    .bgCard img, .avtCard img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .nameProfile {
        display: flex;
        align-items: center;
        margin-top: 8px;
        column-gap: 6px;
        span:nth-child(2){
            font-weight: bold;
        }
    
        .verified{
            width: 15px;
            height: 15px;
        }
    
        .verified img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}


#body{
    height: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact{
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        column-gap: 25px;

    }
    .btn-follow, .btn-chat{
        color: #10439F;
        border-radius: 10px;
        background: #97E7E1;
        padding: 10px 20px;
        transition: all 0.3s ease;
    }

    .btn-follow:hover, .btn-chat:hover{
        background: #F8F6E3;
    }

    
    .post, .post2{
        position: relative;
        width: 270px;
        height: 270px;
        background: #7AA2E3;
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        visibility: visible;
        #selector-2, #selector-3{
            z-index: -1;
        }
        .box{
            position: absolute;
            width: 100%;
            height: 100%;
            .picPost{
                position: absolute;
                width: 100%;
                height: 80%;
            }
        
            .picPost::before{
                content: 'Daily Status';
                position: absolute;
                color: #E8EFCF;
                background: #7AA2E3;
                top: 0;
                right: 0;
                left: 0;
                text-align: center;
                padding: 3% 5%;
                box-shadow: 0 0px 10px #0000006c;
            }
        
            .picPost img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        
            .action{
                position: absolute;
                display: flex;
                justify-content: space-between;
                padding: 0 10%;
                align-items: center;
                width: 100%;
                height: 20%;
                bottom: 0;
                box-shadow: 0 -10px 30px #00000067;
            }
        
            .rect{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        
            .fa-heart{
                color: #ff0000b9;
                font-size: 20px;
            }
        }
    } 
}

#footer{
    padding-top: 6px;
    border-radius: 10px;
    height: 50px;
    background: #39a6ffc9;
    box-shadow: 0 20px 50px #00000067;

    ul{
        /* position: relative; */
        height: 100%;
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
    }

    .tab{
        position: relative;
        background-color: #6AD4DD;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        font-size: 20px;
        color: #1d1678c9;
        transition: all 0.3s ease;
    }

    .tab p{
        position: absolute;
        right: 0;
        left: 0;
        opacity: 0;
        font-size: 0;
        background: #7AA2E3;
        padding: 3px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    
    .tab:hover p{
        transform: translateY(-30px);
        font-size: 15px;
        opacity: 1;
    }

    .tab:hover{
        background: #F7DED0;
    }
    
    /* .fa-duotone{
        position: absolute;
        width: 100%;
        padding: 10px 0;
    } */
}
